<h1>Listing job_experiences</h1>

<table>
  <thead>
    <tr>
      <th>Tittle</th>
      <th>Description</th>
      <th>Company</th>
      <th>Location</th>
      <th>Start date</th>
      <th>End date</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @job_experiences.each do |job_experience| %>
      <tr>
        <td><%= job_experience.tittle %></td>
        <td><%= job_experience.description %></td>
        <td><%= job_experience.company %></td>
        <td><%= job_experience.location %></td>
        <td><%= job_experience.start_date %></td>
        <td><%= job_experience.end_date %></td>
        <td><%= link_to 'Show', job_experience %></td>
        <td><%= link_to 'Edit', edit_job_experience_path(job_experience) %></td>
        <td><%= link_to 'Destroy', job_experience, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Job experience', new_job_experience_path %>
