<p id="notice"><%= notice %></p>

<p>
  <strong>Tittle:</strong>
  <%= @job_experience.tittle %>
</p>

<p>
  <strong>Description:</strong>
  <%= @job_experience.description %>
</p>

<p>
  <strong>Company:</strong>
  <%= @job_experience.company %>
</p>

<p>
  <strong>Location:</strong>
  <%= @job_experience.location %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @job_experience.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @job_experience.end_date %>
</p>

<%= link_to 'Edit', edit_job_experience_path(@job_experience) %> |
<%= link_to 'Back', job_experiences_path %>
