<%-# commented line -%>

<%-# commented part -%>
<% if false %>
    <%= render template: "job_experiences/index" %>
<% end %>

<h1>Raul Ferrandez Salvador</h1>
<h2>Skalitzer Str. 59A, 10997 Berlin</h2>
<h2>ferrandezraul@gmail.com</h2>

<%= image_tag "me.jpg" %>

<h1>Experiencia laboral</h1>

<% @job_experiences.each do |experience| %>
    <p>
      <%-# same line -%>
      Company: <%= experience.company %>,
      Location: <%= experience.location %>
    </p>
    <p>Job Position: <%= experience.tittle %></p>
    <p>Job description: <%= experience.description %></p>
    <p>
      <%-# same line -%>
      Start date: <%= experience.start_date %>
      End date: <%= experience.end_date %>
    </p>
<% end %>




